* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", "Times New Roman", sans-serif, serif;
}

/*Make things responsive*/
@media screen and (max-width: 700px) {
    #nav li.right,
    #nav li {
        float: none;
    }

    #Title, #MaterialPantry {
        display: none;
    }

    #LeftBar {
        width: 92%;
        margin-bottom: 10%;
    }

    #MainHeader {
        height: 200px;
    }
}

/*Customise navigation bar*/
#nav {
    height: 50px;
    padding: 0;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background: #333;
    list-style-type: none;
    z-index: 9999;
    position: static;
    transition: width, 0.7s;
    transition-timing-function: ease-in-out;
    overflow: visible;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    background-color: #333;
    list-style-type: none;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 0;
}

/*Change the color of current page's button*/
#home {
    background-color: #FF6138;
}

/*Change button color to black on hover*/
#nav li a:hover:not(#home) {
    background-color: #111;
    transition: all .4s;
}

/*Make home button darker when hovered over*/
#home:hover {
    background-color: #BD4829;
    transition: all .4s;
}

#nav li a:focus {
    background: #00A388;
    transition: all .4s;
}

/*Move search box to the right side of navigation bar*/
#nav li.right {
    float: right;
    margin-right: 2%;
}

#nav li.left {
    margin-left: 2%;
}

/*Customise search boxes*/
input:not([type]), input[type="searchBox"], input[type="search"] {
    width: 190px;
    box-sizing: border-box;
    border: 3px solid #333;
    border-radius: 4px;
    font-size: 16px;
    background: white url('searchIcon.png') no-repeat 10px 10px;
    padding: 10px 20px 12px 40px;
    margin-left: -3%;
    transition: all .4s ease;
}

/*Change border color of recipe search box when clicked and make wider*/
input[type=searchBox]:focus {
    border-color: #79BD8F;
    width: 250px;
    transition: all .4s ease;
}

/*Change border color of ingredient search box when clicked*/
input[type=search]:focus {
    border-color: #79BD8F;
    transition: all .4s ease;
}

/*Mae search box responsive*/
@media only screen and (max-width: 700px) {
    input[type=search] {
        width: 50%;
        margin-bottom: 5%;
    }
}

/*Display logo and header*/
#MainHeader {
    background: url(background_food.jpg) no-repeat fixed;
    background-size: 100vw;
    color: white;
    text-align: center;
    padding: 5px;
    height: 450px;
    margin-bottom: 3%;
}

/*Hide header background in mobile view*/
#MainHeader.toggle {
    background-image: none;
    height: 40px;
}

/*Pocket Pantry title*/
@font-face {
    font-family: Breamcatcher;
    src: url('breamcatcher.ttf');
}

/*Customise main title*/
#Title {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 90px;
    text-shadow: 4px 4px 6px #000000;
    font-family: "Breamcatcher", Verdana, sans-serif, serif;
}

/*Customise mobile view title*/
#Title2 {
    background-color: #00A388;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Breamcatcher", Verdana, sans-serif, serif;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: visible;
}

/*Customise mobile view menu icon*/
#hamburgerMenu {
    width: 10%;
    height: 10%;
    float: right;
    margin: 3% -1% 1% 1%;
}

/*Logo*/
#MaterialPantry {
    position: relative;
    margin-top: -70px;
    z-index: 1;
    overflow: visible;
}

/*Customise left bar*/
#LeftBar {
    border-radius: 8px;
    line-height: 30px;
    width: 30%;
    float: left;
    padding: 10px;
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/*Fix size of LeftBar in mobile view*/
@media only screen and (max-width: 700px) {
    #LeftBar {
        width: 92%;
        margin-bottom: 10%;
        margin-top: +14%;
    }
}

#row1:after {
    content: "";
    clear: both;
    display: block;
}

/*"What's in your pantry?" text customisation*/
#whatsinyourpantry {
    font-size: 20px;

    margin-top: 10px;
    color: #FF6138;
}

#AddIngs {
    padding-left: 4%;
}


/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}
/* Form wrapper styling */
.form-wrapper {
    width:100%;
    margin: auto;
    margin-bottom: 6%;
}
/* Form text input */

.form-wrapper input {
    width:65%;
    max-width: 100%;
    height: 50px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    border-radius: 3px 0 0 3px;
    outline: 0;
    background: #eee;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    padding-left: 4%;
    padding-right: 4%;
    cursor: pointer;
    height: 50px;
    max-width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #00A388;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #007D67;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #007D67;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #00A388 transparent;
    top: 18px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #007D67;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #007D67;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}


/*Customise buttons*/
.add-clrButton button {
    border: none;
    height: 50px;
    border-radius: 4px;
    color: white;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0 5% 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 16px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    transition-duration: 0.2s;
}

.searchbutton {
    background-color: #00A388;
    color: black;
    border: 3px solid #00A388;
    float: left;
}
.clearbutton {
    background-color: #FF6138;
    color: black;
    border: 3px solid #00A388;
    float: left;
}

/* delete button Media Query*/
@media all and (max-width: 700px) {
    .deletebutton {
        width: 11%;
    }
}

/*Change button color when mouse is hovered over*/
.searchbutton:hover {
    background-color: #007D67;
}

/*Change button color when mouse is hovered over*/
.clearbutton:hover {
    background-color: #BD4829;

}

/*Strengthen box shadow when mouse is hovered over*/
.results:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
}

/*Results images*/
div.imgWrapper {
    width:100%;
    max-height: 500px;
    overflow: hidden;
}
img.scale {
    /* corrects inline gap in enclosing div */
    display: block;
    width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;

}
.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    /* needed? not sure */
    zoom: 1; }

img.flip {
    /* actually, aligns left within .cropheight */
    float: right;
    /* clearfix after? */ }
/* presentational CSS below */

/*Results text*/
div.desc {
    font-size: 22px;
    color: #FF6138;
    float: left;
    padding: 20px;
    text-align: left;
    width: 70%;
}

.publisher {
    font-size: 18px;
    padding-top: 1px;
    color: #333333;
    text-align: left;
}

.desc a {
    text-decoration: none;
}

a:visited {
    color: #333333;
}

a:link {
    color: #333333;
}

a:hover {
    text-decoration: underline;
}

/*Social rank*/
.soRank {
    font-size: 16px;
    text-align: right;
    margin-top: 5px;
    margin-right: 20px;
    width: 100%;
    float: right;

}

.rateYo {
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 12px;
    margin-left: -4%;
    //float: right;
}

.descWrapper {
    margin: auto;
    width: 100%;
}

/*Wrapper for search results*/
#PageContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    float: left;
}

.resultArea {
    width: 45%;
    height: 100%;
}

/*Individual search results*/
.spinner {
    width: 45%;
    display: block;
    float: right;
    margin: auto 37% 200px auto;
}

.results {
    width: 45%;
    display: block;
    float: right;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin: 1% 10%;
}

/*Container for result information*/
.resultInformation {
    margin: auto;
    padding-left: 5%;
    width: 100%;
}

.resultIngs {
    width: 60%;
    height: 100%;
    float: left;
}

/*Responsive*/
@media screen and (max-width: 700px) {
    .resultIngs {
        width: 85%;
    }

    #row1 {
        text-align: center;
        margin: auto;
    }

    .spinner {
        margin-right: 67%;
        text-align: center;
    }
}

.ings {
    width: 60%;
    margin: 0.5%;
/ / padding-left: 5 %;
    float: left;
    overflow: hidden;
}

/*Heart image*/
.heart2 {
    height: auto;
    width: auto;
    margin: 1%;
    overflow: hidden;
}

.heart1 {
    float: right;
    height: 15%;
    width: 25%;
    padding: 15px;
    margin-right: 1%;
}

.heart3 {
    width: 25%;
    height: 15%;
    float: right;
    background-color: #666;
}

/*Make heart red on hover*/
.heart3:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    background-color: #FF6138;
}

/*Make search results responsive*/
@media only screen and (max-width: 700px) {
    .results {
        width: 100%;
        margin: 6px 0;
    }
}

/*Make footer stick to bottom*/
#PageFooter {
    margin-top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Push footer to bottom when page is extended horizontally*/
#PageFooter, .push {
    background-color: #333;
    bottom: 100%;
    padding: 5px;
    clear: both;
    width: 100%;
    height: 220px;
}

/*Get in touch section in footer*/
#getInTouch {
    float: left;
    margin-top: 20px;
    margin-left: 15%;
}

#getInTouchHeader {
    font-weight: bold;
    color: #FF6138;
    float: right;
}

#getInTouchBox a:not(#getInTouchHeader) {
    color: white;
    float: right;
}

/*About us section in footer*/
#aboutUs {
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#aboutUsHeader {
    font-weight: bold;
    color: #FF6138;
    float: left;
}

/*Facebook like and share button*/
.fb-like {
    margin: 2% 0 0 0;
}

#aboutUsBox a:not(#aboutUsHeader) {
    color: white;
    float: left;
    line-height: 150%;
}

/*Social media buttons section in footer*/
#socialButtons {
    float: left;
    margin-top: 20px;
    margin-right: 10%;
}

/*Customise buttons*/
.icon-link {
    width: 48px;
    height: 48px;
    background-color: #666;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
    box-sizing: content-box;
    border-radius: 20%;
    border: 2px solid #333;
}

/*Set icon color*/
.icon-link.fill.facebook {
    background-color: #3b5998;
}

/*Set icon color on hover*/
.icon-link.fill.facebook:hover {
    background-color: #fff;
}

/*Set icon color change on hover smooth*/
.icon-link.fill.facebook:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.twitter {
    background-color: #00aced;
}

.icon-link.fill.twitter:hover {
    background-color: #fff;
}

.icon-link.fill.twitter:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.google-plus {
    background-color: #dd4b39;
}

.icon-link.fill.google-plus:hover {
    background-color: #fff;
}

.icon-link.fill.google-plus:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.youtube {
    background-color: #df1c31;
}

.icon-link.fill.youtube:hover {
    background-color: #fff;
}

.icon-link.fill.youtube:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.pinterest {
    background-color: #b81621;
}

.icon-link.fill.pinterest:hover {
    background-color: #fff;
}

.icon-link.fill.pinterest:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.tumblr {
    background-color: #32506d;
}

.icon-link.fill.tumblr:hover {
    background-color: #fff;
}

.icon-link.fill.tumblr:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

/*Make button's background color white on hover*/
.icon-link:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    height: 48px;
    line-height: 48px;
    width: 48px;
    background-color: #fff;
}

/*Change button border color on hover*/
.icon-link:hover.facebook {
    border: 2px solid #3b5998;
}

.icon-link:hover.tumblr {
    border: 2px solid #32506d;
}

.icon-link:hover.twitter {
    border: 2px solid #00aced;
}

.icon-link:hover.google-plus {
    border: 2px solid #dd4b39;
}

.icon-link:hover.youtube {
    border: 2px solid #df1c31;
}

.icon-link:hover.pinterest {
    border: 2px solid #b81621;
}

.icon-link:hover.tumblr {
    border: 2px solid #32506d;
}

.icon-link:hover .fa {
    line-height: 48px;
}

/*Change color of button icon on hover*/
.icon-link:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

/*Set size and color of button icons*/
.icon-link .fa {
    color: #fff;
    line-height: 48px;
    font-size: 29px;
}

/*Make footer responsive*/
@media only screen and (max-width: 700px) {
    #PageFooter {
        width: 100%;
    }

    #PageFooter.push {
        bottom: 0;
    }

    #socialButtons {
        margin-right: 0.1%;
        width: 48%;
    }

    .icon-link .fa {
        line-height: 38px;
        font-size: 20px;
    }

    .icon-link {
        width: 38px;
        height: 38px;
        line-height: 38px;
    }

    .icon-link:hover {
        height: 38px;
        width: 38px;
        line-height: 38px;
    }

    .icon-link:hover .fa {
        line-height: 38px;
    }

    #aboutUs, #getInTouch {
        font-size: 50%;
        width: 20%;
        height: 20%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

/*Mobile navbar*/
#nav-trigger {
    z-index: 9999;
    display: none;
    text-align: center;
    position: static;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    transition: all, 0.4s;
    transition-timing-function: ease-in-out;
    top: 0;
}

#nav-trigger span {
    z-index: 9999;
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    background-color: #00A388;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    top: 0;
}

#nav-trigger span:after {
    z-index: 9999;
    display: inline-block;
    width: 20px;
    height: 40px;
    content: "";
}

#nav-trigger span:hover {
    background-color: #007D67;
}

nav#nav-mobile {
    z-index: 9999;
    position: static;
    display: none;
    margin-left: -5px;
    transition: all, 0.4s;
    transition-timing-function: ease-in-out;
    top: 0;
    height: 0;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 0;
    text-align: center;
    background-color: white;
}

nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #cc0028;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    color: black;
    padding: 10px 30px 10px 30px;
}

nav#nav-mobile a:hover {
    background-color: #FF6138;
    color: black;
}

/* Mobile navbar Media Queries*/
@media all and (max-width: 700px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-mobile {
        display: block;
    }
}

/*Up button in mobile view*/
#upBtn {
    visibility: hidden;
    z-index: 9999;
    float: right;
    overflow: visible;
    bottom: 5%;
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin: 10%;
    right: 35px;
    border-radius: 60%;
}

#MaterialPantry2:hover {
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}

/*Up button icon*/
#MaterialPantry2 {
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    transition: all 0.3s;
    border-radius: 50%;
}

/* The Popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 110%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    height: 70%;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.29);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    transition: all 0.5s;
    text-align: center;
}

/*Responsive*/
@media all and (max-width: 700px) {
    .popup {
        width: 50%;
        height: 50%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .popup-content {
        width: 10%;
        height: 10%;
    }
}

/*Facebook login*/
.logout, .fb-login-button {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 7%;
}

.fb-login-button {
    text-align: center;
    width: 60%;
    border-radius: 4px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 3px solid #3b5998;
    margin: 10% 1% 1% 20%;
}

.fb-login-button:hover {
    background-color: #3b5998;
    border-color: #FF6138;
    color: white;
}

.logout {
    text-align: center;
    width: 60%;
    margin: 10% 10% 10% 20%;
    border-radius: 4px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 3px solid red;
}

/*Change button color when mouse is hovered over*/
.logout:hover {
    background-color: #FF6138;
    color: white;
}

a.logout {
    font-size: large;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 4%;
    width: 10%;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 3px solid red;
    border-radius: 100%;
}

/*Change button color when mouse is hovered over*/
.close:hover {
    background-color: #FF6138;
    color: white;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Google sign in button*/
#customBtn {
    background-color: white; /* Google red */
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    color: black;
    border: 3px solid #FF6138;
    margin-top: 25%;
    margin-left: 19%;
    width: 60%;
}

/*Change color on hover*/
#customBtn:hover {
    cursor: pointer;
    background-color: #D50F25;
    color: white;
    border: 3px solid #FF6138;
}

span.label {
    font-weight: normal;
}

span.icon {
    background: url('new-google-favicon-128.png') transparent 5px 50% no-repeat;
    background-size: 90% 90%;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 20px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
