* {
    box-sizing: border-box;
}
body {
    background: url(background_food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Verdana", "Times New Roman", Serif;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #ff6138;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
input[type=text], input[type=text1] {
    width: 175px;
    box-sizing: border-box;
    border: 3px solid #333;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text1]:focus {
    width: 100%;
    border-color: #79BD8F;
}
input[type=text]:focus {
    border-color: #BEEB9F;
}
#MainHeader {
    color:white;
    text-align:center;
    padding:5px;
    height:250px;
}
#Title {
    padding-bottom: 40px;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Breamcatcher", Verdana, Serif;
}
#MaterialPantry {
    position: relative;
    z-index: 9999;
    overflow: visible;
}
#LeftBar {
    border-radius: 10px;
    line-height:30px;
    width: 30%;
    float:left;
    padding: 10px;
    margin: 2%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
}
#PageContent {
    width:62%;
    float:right;
    padding: 10px;
    margin: 2%;

}
#resultshdr {
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
}
#result1, #result2, #result3 {
    border-radius: 10px;
    float:right;
    padding: 10px;
    margin: 1%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
}
#row1:after {
    content: "";
    clear: both;
    display: block;
}
#whatsinyourpantry {
    color: black;
}
.text-box {
    color: white;
}
.button {
    background-color: white; /* White */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.addbutton {
    background-color: white;
    color: black;
    border: 3px solid #00A388;
}
.searchbutton {
    background-color: white;
    color: black;
    border: 3px solid #00A388;
}
.deletebutton {
    background-color: white;
    color: black;
    border: 3px solid red;
}
.addbutton:hover, .searchbutton:hover {
    background-color: #79BD8F; /* Green */
    color: white;
}
.deletebutton:hover {
    background-color: #FF6138; /* Green */
    color: white;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
#PageFooter {
    bottom: 0;
}
#PageFooter, .push {
    background-color: #333;
    text-align: center;
    height: 2em;
    bottom:100%;
    padding: 5px;
    clear: both;
    width: 100%;
}