* {
    box-sizing: border-box;
}
body {
    font-family: "Verdana", "Times New Roman", Serif;
}
#position-saver {
    height: 50px;
    width: 100%;
}
/*Make everything responsive*/
@media screen and (max-width: 700px){
    #nav li.right,
    #nav li {
        float: none;
    }
    .results {
        width: 100%;
    }
    #Title, #MaterialPantry {
        display: none;
    }
    #LeftBar {
        width: 92%;
        margin-bottom: 10%;
    }
    #MainHeader {
        height: 200px;
    }
}
/*Customise navigation bar*/
#nav {
    padding: 0;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    background: #333;
    list-style-type: none;
    overflow: hidden;
    z-index: 99999;
    position: static;
    transition: width, 0.7s;
    transition-timing-function: ease-in-out;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    float: left;
    background-color: #333;
    list-style-type: none;
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 0;
}
/*Change the color of current page's button*/
#home {
    background-color: #ff6138;
}
/*Change button color to black on hover*/
#nav li a:hover:not(#home) {
    background-color: #111;
    transition: all .4s;
}
#home:hover{
    background-color: #BD4829;
    transition: all .4s;
}

#nav li a:focus{
    background: #00A388;
    transition: all .4s;
}

/*Move search box to the right side of navigation bar*/
#nav li.right {
    float: right;
    margin-right: 2%;
}
#nav li.left {
    margin-left: 2%;
}
     /*Customise search boxes*/
 input:not([type]), input[type="searchBox"], input[type="search"] {
     width: 190px;
     box-sizing: border-box;
     border: 3px solid #333;
     border-radius: 4px;
     font-size: 16px;
     background-color: white;
     background-image: url('searchIcon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 10px 20px 12px 40px;
     transition: all .4s ease;
}
/*Change border color of recipe search box when clicked*/
input[type=searchBox]:focus {
    border-color: #79BD8F;
    width: 250px;
    transition: all .4s ease;
}
/*Change border color of ingredient search box when clicked*/
input[type=search]:focus {
    border-color: #79BD8F;
    transition: all .4s ease;
}
@media only screen and (max-width: 700px){
    input[type=search] {
        width: 50%;
        margin-bottom: 5%;
    }
}
/*Display logo and header*/
#MainHeader {
    background-image: url(background_food.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding:5px;
    height:450px;
    margin-bottom: 3%;
}
#MainHeader.toggle{
    background-image:none;
    height: 40px;
}
@media screen and (max-width: 700px){
    #MainHeader {
        background: url("background_food.png");
        background-size: cover;
        height: 240px;
    }
}
/*Pocket Pantry title*/
@font-face {
    font-family: Breamcatcher;
    src: url('breamcatcher.ttf');
}
#Title {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 90px;
    text-shadow: 4px 4px 6px #000000;
    font-family: "Breamcatcher", Verdana, Serif;
}
#Title2 {
    background-color: #00A388;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Breamcatcher", Verdana, Serif;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
/*Logo*/
#MaterialPantry {
    position: relative;
    margin-top: -70px;
    z-index: 999;
    overflow: visible;
}
/*Customise left bar*/
#LeftBar {
    border-radius: 8px;
    line-height:30px;
    width: 30%;
    float:left;
    padding: 10px;
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 80%;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    transition: all, 0.5s;
    transition-timing-function: ease-in-out;
}
/*Fix size of LeftBar in mobile view*/
@media only screen and (max-width: 700px){
    #LeftBar {
        width: 92%;
        margin-bottom: 10%;
        margin-top: +14%;
    }
}
#row1:after {
    content: "";
    clear: both;
    display: block;
}
#whatsinyourpantry {
    font-size: 20px;
    color: #FF6138;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.text-box {
    color: white;
}
/*Customise buttons*/
.button {
    background-color: white; /* White */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.addbutton {
    background-color: white;
    color: black;
    border: 3px solid #00A388;
}
.searchbutton {
    background-color: white;
    color: black;
    border: 3px solid #00A388;
}
.deletebutton {
    font-size: 16px;
    padding: 1px 1px;
    background-color: white;
    color: black;
    border: 3px solid red;
    height: 8%;
    width: 8%;
    border-radius: 100%;
    margin-left: 2%;
}
/* delete button Media Query*/
@media all and (max-width: 700px) {
    .deletebutton {
        width: 11%;
    }
}
/*Change button color when mouse is hovered over*/
.addbutton:hover, .searchbutton:hover {
    background-color: #79BD8F;
    color: white;
}
/*Change button color when mouse is hovered over*/
.deletebutton:hover {
    background-color: #FF6138;
    color: white;
}
/*Strengthen box shadow when mouse is hovered over*/
.results:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    transition: all 0.4s;
}
/*Results images*/
div.imgOuter{
    z-index: 1;
    max-height: 500px;
    width:100%;
    overflow: hidden;
}
div.imgInner{
    z-index: 1;
    width:100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
div.imgInner img {
    z-index: 1;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
/*Results text*/
div.desc {
    font-size: 22px;
    color: #FF6138;
    float: left;
    padding: 20px;
    text-align: left;
    width: 70%;
}

.publisher {
    font-size: 18px;
    padding-top: 1px;
    color: #333333;
    text-align: left;
}
.desc a{
    text-decoration: none;
}
a:visited{
    color: #333333;
}
a:link{
    color: #333333;
}
a:hover{
    text-decoration: underline;
}
.soRank {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 6px;
    text-align: left    ;
    width: 50%;

}
.rateYo{
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: -8px;
    //float: right;
}
.descWrapper {
    margin: auto;
    width: 100%;
}
/*Wrapper for search results*/
#PageContent {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
    float: left;
}
.resultArea {
    width: 45%;
    height: 100%;
}
/*Individual search results*/
.results {
    width: 45%;
    display: block;
    float: right;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
/*Container for result information*/
.resultInformation {
    margin: auto;
    padding-left: 5%;
    width: 100%;
}
.resultIngs {
    width: 60%;
    height: 100%;
    float: left;
}
@media screen and (max-width: 500px){
    .resultIngs {
        width: 85%;
    }
}
.ings {
    width: 60%;
    margin: 0.5%;
    //padding-left: 5%;
    float: left;
    overflow: hidden;
}
/*Heart image*/
.heart2 {
    height: auto;
    width: auto;
    margin: 1%;
    overflow: hidden;
}
.heart1 {
    float: right;
    height: 15%;
    width: 25%;
    padding: 15px;
    margin-right: 1%;
}
.heart3 {
    width: 25%;
    height: 15%;
    float: right;
    background-color: #666;
}
.heart3:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    background-color: #FF6138;
}
/*Make search results responsive*/
@media only screen and (max-width: 700px){
    .results {
        width: 49.99999%;
        margin: 6px 0;
    }
}
/*Make search results responsive*/
@media only screen and (max-width: 500px){
    .results {
        width: 100%;
    }
}
/*Make footer stick to bottom*/
#PageFooter {
    bottom: 0;
    left: 0;
    right: 0;
}
/*Push footer to bottom when page is extended horizontally*/
#PageFooter, .push {
    background-color: #333;
    bottom:100%;
    padding: 5px;
    clear: both;
    width: 100%;
    height: 200px;
}
/*Get in touch section in footer*/
#getInTouch {
    float: left;
    margin-top: 20px;
    margin-left: 15%;
}
#getInTouchHeader {
    font-weight: bold;
    color: #FF6138;
    float: right;
}
#getInTouchBox a:not(#getInTouchHeader) {
    color: white;
    float: right;
}
/*About us section in footer*/
#aboutUs {
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#aboutUsHeader {
    font-weight: bold;
    color: #FF6138;
    float: left;
}
.fb-like {
    margin: 2% 0 0 0;
}
#aboutUsBox a:not(#aboutUsHeader) {
    color: white;
    float: left;
    line-height: 150%;
}
/*Social media buttons section in footer*/
#socialButtons {
    float: left;
    margin-top: 20px;
    margin-right: 10%;
}
/*Customise buttons*/
.icon-link {
    width: 48px;
    height: 48px;
    background-color: #666;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
    box-sizing: content-box;
    border-radius: 20%;
    border: 2px solid #333;
}
/*Set icon color*/
.icon-link.fill.facebook {
    background-color: #3b5998;
}
/*Set icon color on hover*/
.icon-link.fill.facebook:hover {
    background-color: #fff;
}
/*Set icon color change on hover smooth*/
.icon-link.fill.facebook:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
    background-color: #00aced;
}
.icon-link.fill.twitter:hover {
    background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
    background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
    background-color: #fff;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
    background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
    background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
    background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
    background-color: #fff;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
    background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
    background-color: #fff;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
/*Make button's background color white on hover*/
.icon-link:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    height: 48px;
    line-height: 48px;
    width: 48px;
    background-color: #fff;
}
/*Change button border color on hover*/
.icon-link:hover.facebook {
    border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
    border: 2px solid #32506d;
}
.icon-link:hover.twitter {
    border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
    border: 2px solid #dd4b39;
}
.icon-link:hover.youtube {
    border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
    border: 2px solid #b81621;
}
.icon-link:hover.tumblr {
    border: 2px solid #32506d;
}
.icon-link:hover .fa {
    line-height: 48px;
}
/*Change color of button icon on hover*/
.icon-link:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
/*Set size and color of button icons*/
.icon-link .fa {
    color: #fff;
    line-height: 48px;
    font-size: 29px;
}
/*Make footer responsive*/
@media only screen and (max-width: 700px){
    #PageFooter {
        width: 100%;
    }
    #PageFooter.push {
        bottom: 0;
    }
    #socialButtons {
        margin-right: 0.1%;
        width:48%;
    }
    .icon-link .fa {
        line-height: 38px;
        font-size: 20px;
    }
    .icon-link {
        width: 38px;
        height: 38px;
        line-height: 38px;
    }
    .icon-link:hover {
        height: 38px;
        width: 38px;
        line-height: 38px;
    }
    .icon-link:hover .fa {
        line-height: 38px;
    }
    #aboutUs, #getInTouch {
        font-size: 50%;
        width: 20%;
        height: 20%;
        margin-left: 1%;
        margin-right: 1%;
    }
}




/*Mobile navbar*/
#nav-trigger {
    z-index: 999;
    display: none;
    text-align: center;
    position: static;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    transition: all, 0.4s;
    transition-timing-function: ease-in-out;
    top: 0;
}
#nav-trigger span {
    z-index: 999;
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    background-color: #00A388;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    top: 0;
}
#nav-trigger span:after {
    z-index: 999;
    display: inline-block;
    width: 20px;
    height: 40px;
    content: "";
}
#nav-trigger span:hover {
    background-color: #007D67;
}



nav#nav-mobile {
    z-index: 999;
    position: static;
    display: none;
    margin-left: -5px;
    transition: all, 0.4s;
    transition-timing-function: ease-in-out;
    top: 0;
    height: 0;
}
nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 0;
    text-align: center;
    background-color: white;
}
nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #cc0028;
}
nav#nav-mobile li:last-child {
    border-bottom: none;
}
nav#nav-mobile a {
    display: block;
    color: black;
    padding: 10px 30px 10px 30px;
}
nav#nav-mobile a:hover {
    background-color: #FF6138;
    color: black;
}

/* Mobile navbar Media Queries*/
@media all and (max-width: 700px) {
    #nav-trigger {
        display: block;
    }
    nav#nav-mobile {
        display: block;
    }
}

/*Up button in mobile view*/
#upBtn {
    visibility: hidden;
    z-index: 9999;
    float: right;
    overflow: visible;
    bottom: 5%;
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin: 10%;
    right: 35px;
    border-radius: 60%;
}
#MaterialPantry2:hover {
    -moz-box-shadow: 2px 3px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 3px 4px rgba(0,0,0,.5);
    box-shadow: 2px 3px 4px rgba(0,0,0,.5);
}
/*Up button icon*/
#MaterialPantry2 {
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    transition: all 0.3s;
    border-radius: 50%;
}

/* The Popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    height: 70%;
    box-shadow: 0 40px 80px 0 rgba(0,0,0,0.29);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    transition: all 0.5s;
}

@media all and (max-width: 700px) {
    .popup {
        width: 20%;
        height: 20%;
    }
    .popup-content {
        width: 10%;
        height: 10%;
    }
}

.g-signin2, .logout, .fb-login-button {
    float: left;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 7%;
}
.g-signin2 {
    margin-top: 10%;
    padding-left: 37%;
    width: 40%;
}
.logout {
    text-align: center;
    margin: 10%;
    width: 60%;
    margin-left: 20%;
    border-radius: 4px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 3px solid red;
}
/*Change button color when mouse is hovered over*/
.logout:hover {
    background-color: #FF6138;
    color: white;
}
a.logout {
    font-size: large;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 4%;
    width: 10%;
    margin-left: 20%;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 3px solid red;
    border-radius: 100%;
}
/*Change button color when mouse is hovered over*/
.close:hover {
    background-color: #FF6138;
    color: white;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}